*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
/* Heding styles ====================== */

.header{
    background:transparent;
    display: flex;
    justify-content: space-around; 
    padding:20px 0px 20px 0px;


}
.nav{
    display: flex;
    display: none;
    position:absolute;
    flex-direction: column;
    top:0px;
    right: 0;
    width:60%;
    height: 100vh;
    background:#fff;
    border: none;
}
.btn_x{
    border:none;
    font-size: 40px;
    font-weight: bolder;
    color:rgba(255, 0, 0, 0.751);
    position:absolute;
    right:0;
    margin: 20px 50px 0px 0px;
    background:#fff;
}
.btn_x:hover{
    color:rgba(255, 0, 0, 0.477);
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap:50px;
    padding:10px 50px 10px 50px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: none;
  
}
/* ============Text style============ */
.logo p{
    font-size:1.7rem;
    color:#000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: all .3s linear;
}
.logo p:hover{
    color:rgb(107, 122, 134)
}
.list a{
    text-transform:capitalize;
    font-weight: 550;
    font-size:1.39rem;
    padding:0px 5px 0px 5px;
    transition: color .3s linear, border .3s linear;  
}
.list a:hover{
    color:rgb(107, 122, 134);
    border-bottom:solid 1px ;
    border-width: 5px; 
}
/* ============/Text style============ */
/* =========Menu button style========= */
.btn{
    background:transparent;
    border: none;
    cursor:pointer;
    transition: all .3s linear;
}
.btn_menu{
    font-size: 28px;
    font-weight: bolder;
    transition: all .3s linear;
}
.btn_menu:hover{
    color:rgb(107, 122, 134);
}
/* =========/Menu button style========= */
/* ===Media querys=== */
@media only screen and (min-width: 768px){
    .nav{
        display:inline-block;
        background: transparent;
        width: auto;
        height: auto;
        position: relative;
        transition: all .3s linear;  
    }
    .list{
        flex-direction: row;
        border: none;
        column-gap: 30px;
        transition: all .3s linear;
    }
    .list a{
        font-size:1.09rem;   
    }
    .btn_menu{
        display: none;
    }
    .btn_x{
        display: none;
    }
}
/* ===/Media querys=== */
/* /Heding styles ====================== */
/* Banner styles ====================== */
.banner{
    /* background:red; */
    width:100vw;
    height: 100%;
    background:rgba(180,180,180);
   
}
.section_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: gray; */
    /* width: 100%; */
 
}
.bnr_left{
    display: none;
}
.bnr_right{
    /* background: yellow; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.btn_banner{
    background: rgb(159, 159, 159);
    padding: 0.56rem;
    width: 150px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 20px auto;
    box-shadow: 0px 3px 5px rgba(27, 27, 27, 0.587);
    transition: all 0.3s linear;
}
.btn_banner:hover{
    box-shadow: 0px 3px 5px rgba(18, 17, 17, 0.632);
    background: rgba(65, 56, 56, 0.427);
}
/* =====Text style===== */
.bnr_right{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.bnr_right h1{
    font-size: 3rem;
    letter-spacing: 1.5px;
}
.bnr_right p{
    font-size: 0.8rem;
    margin-bottom:-8px;
}
/* ===Media querys=== */
@media only screen and (min-width: 1200px){
   .banner{
    background:transparent;
   }
   
    .section_banner{
   column-gap: 20px;
   width:80%;
   margin: 0 auto;
   padding: 0;
   background:rgba(180,180,180);
   }
   
    .bnr_left{
        display: inline-block;
        /* border: solid 1px; */
        width: 65%;
        margin-left: -10px;
        height: 100vh;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        background: #fff;
        box-shadow:5px 0px 8px rgba(255, 255, 255, 0.632);
    }
    /* =====Text style===== */
.bnr_right{
    text-transform: uppercase;
    /* border: solid 10px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.bnr_right h1{
    font-size: 3.2rem;
   
   
}
.bnr_right p{
    font-size: 0.6rem;
    margin-bottom: 30px;
}
    /* .bnr_right{
    background: #000;
    } */
    .section_banner{
        display: flex;
        
        
        
    }
}
/* ===/Media querys=== */
/* =====/Text style===== */
/* /Banner styles ====================== */
/* Recent_Proj styles ====================== */
.rec_section{
    background: red;
    padding:1rem 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rec_title{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rec_card_box{
    display: flex;
    justify-content: center;
    
}
img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.proj_img{
    border-radius: 20px;
    object-fit: cover;
}
.rec_Card{
    width: 300px;
    height: 400px;
    background: #000;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
   
}
.rec_Card:hover{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
}
.resours{display: flex;
margin-top: -70px;
justify-content: space-around;}
.res{
    
    width: 30px;
    filter: drop-shadow(1.3px 1.5px 5px #4444dd);
    cursor: pointer;
    transition: all 0.3s linear;
    
}
.res:hover{
    transform: scale(1.1);
}.sous{
    display: flex;
    column-gap: 0px;
}
.manto{
    width: 300px;
    height: 400px;
  
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 20px;
    top:-0px;
    background: rgba(150, 150, 150, 0.733);
}
.manto:hover {
    background: rgba(150, 150, 150, 0);
    
}
.manto h3{
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: 5px;
    padding-left: 1.5rem;
}
.btn_proj{
    background: rgba(150, 150, 150, 0);
    padding: 1rem;
    width: 100%;
    align-self: flex-end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;font-size: 1.3rem;
    text-transform: capitalize;font-weight: bold;
    color: rgba(150, 150, 150, 0);
   
    
}
.btn_proj:hover{
 color: rgb(50, 50, 50);
 background:  rgba(150, 150, 150, 0.733);
}


/* /Recent_Proj styles ====================== */
