*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
/* Heding styles ====================== */

.header{
    background:transparent;
    display: flex;
    justify-content: space-around; 
    padding:20px 0px 20px 0px;


}
.nav{
    display: flex;
    display: none;
    position:absolute;
    flex-direction: column;
    top:0px;
    right: 0;
    width:60%;
    height: 100vh;
    background:#fff;
    border: none;
}
.btn_x{
    border:none;
    font-size: 40px;
    font-weight: bolder;
    color:rgba(255, 0, 0, 0.751);
    position:absolute;
    right:0;
    margin: 20px 50px 0px 0px;
    background:#fff;
}
.btn_x:hover{
    color:rgba(255, 0, 0, 0.477);
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap:50px;
    padding:10px 50px 10px 50px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: none;
  
}
/* ============Text style============ */
.logo p{
    font-size:1.7rem;
    color:#000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: all .3s linear;
}
.logo p:hover{
    color:rgb(107, 122, 134)
}
.list a{
    text-transform:capitalize;
    font-weight: 550;
    font-size:1.39rem;
    padding:0px 5px 0px 5px;
    transition: color .3s linear, border .3s linear;  
}
.list a:hover{
    color:rgb(107, 122, 134);
    border-bottom:solid 1px ;
    border-width: 5px; 
}
/* ============/Text style============ */
/* =========Menu button style========= */
.btn{
    background:transparent;
    border: none;
    cursor:pointer;
    transition: all .3s linear;
}
.btn_menu{
    font-size: 28px;
    font-weight: bolder;
    transition: all .3s linear;
}
.btn_menu:hover{
    color:rgb(107, 122, 134);
}
/* =========/Menu button style========= */
/* ===Media querys=== */
@media only screen and (min-width: 768px){
    .nav{
        display:inline-block;
        background: transparent;
        width: auto;
        height: auto;
        position: relative;
        transition: all .3s linear;  
    }
    .list{
        flex-direction: row;
        border: none;
        column-gap: 30px;
        transition: all .3s linear;
    }
    .list a{
        font-size:1.09rem;   
    }
    .btn_menu{
        display: none;
    }
    .btn_x{
        display: none;
    }
}
/* ===/Media querys=== */
/* /Heding styles ====================== */
/* Banner styles ====================== */
.banner{
    /* background:red; */
    width:100vw;
    height: 100%;
    background:rgba(180,180,180);
   
}
.section_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: gray; */
    /* width: 100%; */
 
}
.bnr_left{
    display: none;
}
.bnr_right{
    /* background: yellow; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.btn_banner{
    background: rgb(159, 159, 159);
    padding: 0.56rem;
    width: 150px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 20px auto;
    box-shadow: 0px 3px 5px rgba(27, 27, 27, 0.587);
    transition: all 0.3s linear;
}
.btn_banner:hover{
    box-shadow: 0px 3px 5px rgba(18, 17, 17, 0.632);
    background: rgba(65, 56, 56, 0.427);
}
/* =====Text style===== */
.bnr_right{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.bnr_right h1{
    font-size: 3rem;
    letter-spacing: 1.5px;
}
.bnr_right p{
    font-size: 0.8rem;
    margin-bottom:-8px;
}
/* ===Media querys=== */
@media only screen and (min-width: 1200px){
   .banner{
    background:transparent;
   }
   
    .section_banner{
   column-gap: 20px;
   width:80%;
   margin: 0 auto;
   padding: 0;
   background:rgba(180,180,180);
   }
   
    .bnr_left{
        display: inline-block;
        /* border: solid 1px; */
        width: 65%;
        margin-left: -10px;
        height: 100vh;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        background: #fff;
        box-shadow:5px 0px 8px rgba(255, 255, 255, 0.632);
    }
    /* =====Text style===== */
.bnr_right{
    text-transform: uppercase;
    /* border: solid 10px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.bnr_right h1{
    font-size: 3.2rem;
   
   
}
.bnr_right p{
    font-size: 0.6rem;
    margin-bottom: 30px;
}
    /* .bnr_right{
    background: #000;
    } */
    .section_banner{
        display: flex;
        
        
        
    }
}
/* ===/Media querys=== */
/* =====/Text style===== */
/* /Banner styles ====================== */
/* Recent_Proj styles ====================== */
.proj_box{
    display:flex;
    justify-content: center;
}
.proj_box_container{
    background:rgba(128, 128, 128, 0.358);width:50%;border-radius: 20px;
    padding:1rem;
    position: relative;
    border: none;
    box-shadow: 5px 5px 8px #000;
    
}
.proj_box_container .git_hub{
    width:50px;height:50px;background:blue;
    border-radius: 50%; box-shadow: 3.5px 2px 8px #000; 
    position: absolute; 
    top:10px; left:10px;
}
.proj_img{
    width:90%;height:200px;background:yellowgreen;
    margin: 20px auto 10px auto;
   
}
.proj_title{
    text-transform: capitalize;
    font-size: 1.3rem;
    margin-left: 15px;
}
.resources{
    display: flex;
    column-gap: 4px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.res{
    width:25px;height:25px;
    background: #000;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 8px #000;
    
}
.btn_proj{
    background: gray;
    width: 90%;
    padding: 1rem;
    border-radius: 20px;
    margin-left:10px;
}
/* /Recent_Proj styles ====================== */
